*{
    box-sizing:border-box;
}

body{
    background-color: #7a7a7a;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* whole calc*/
.calc{
    width: 400px;
    background-color:black;
    border-radius: 15px;
}

.screen{
    background-color: black;
    color: white;
    font-size: 40px;
    font-family: "Arial", monospaces;
    text-align: right;
    padding: 20px 5px;
    border-radius: 15px;
}
/*only button*/
.calc-button {
    outline: 0;
    background-color: #626262;
    padding: 20px;
    color: white;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 10px;
    font-size: 40px;
    cursor: pointer;
}

.calc-button:hover {
    background-color: #dcdcdc;
}
.cal-button:active{
    background-color: #f5f5f5;
}
.double{
    width: 50%;
}
.triple{
    width: 74.8%;
}
.utility {
    background-color: #c4c4c4;
    color: black;
}
.utility:active {
    background-color: #f5f5f5;
}
.calc-button:last-child{
    background-color: #FFA500;
    color: white;
}
.calc-button:last-child:hover {
    background-color:#ffd27f;
}
.calc-button:last-child:focus {
    background-color:#ffffff;
    color: #FFA500;
}
.calc-button:last-child:active {
    background-color: #ffb732;
}
.calc-button-row{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}
.calc-button-row:last-child{
    padding-bottom: 0;
    margin-bottom: 0;
}