header{
background-color: black;
color: white;
height:60px;
text-align: center;
font-size: 35px;

}


.getting-started-button{
   
    padding: 0px;
    margin: 300px; 
    width: 100%px; 
    text-align: center;
    

}



body{
    background-color:rgb(237, 237, 237)

}

