/* homePageStyles.css */

@font-face {
    font-family: '3D Isometric Black';
    src: url('/web-24wi/projects/LANChess/fonts/3DIsometric-YzLLy.ttf');
}


main {
    display: grid;
  }

  
  body {
    background-image: url(/web-24wi/projects/LANChess/img/backgrounds/HomePageBackground.png);
    background-size: cover;
    margin:  0; 
    min-height:  100vh; 
    display: grid;
    justify-content: center;  
    align-items: center;

  }

 #siteTitle {
  position: absolute;
  top:10px;
  left:800px;
  width: 800px;
  height: auto;
 }
  

#findOpponentByUsernameForm {
  position:  absolute;
  top: 250px;
  left: 800px;
  width: 400px; 
  height: auto; 
  background-color: black;
  border: 5px solid #cee6f0;
  border-radius: 10px;
  outline: none;
  padding: 10px; 
  font-size: 30px; 
  color: #f3e8dc;
  caret-color: white;
  font-family: '3D Isometric Black';
  
      
  }