/* homePageStyles.css */

@font-face {
    font-family: '3D Isometric Black';
    src: url('/web-24wi/projects/LANChess/fonts/3DIsometric-YzLLy.ttf');
}


main {
    display: grid;
  }

  
  body {
    background-color: black;
    background-size: cover;
    margin:  0; 
    min-height:  100vh; 
    display: grid;
    justify-content: center;  
    align-items: center;

  }
 #siteTitle {
  position: absolute;
  top:10px;
  left:800px;
  max-width: 30%;
  height: auto;
 }
  

  #findOpponentByUsernameForm {
    position:  absolute;
    top: 150px;
    left: 800px;
    width: 20%; 
    height: auto; 
    background-color: black;
    border: 7px solid #cee6f0;
    outline: none;

    
    padding: 10px; 
    font-size: 30px; 
    color: #f3e8dc;
    caret-color: white;
    font-family: '3D Isometric Black';
  
      
  }