/* homePageStyles.css */

/* Adding custom font for style */
@font-face {
  font-family: '3D Isometric Black';
  src: url('/web-24wi/projects/LANChess/fonts/3DIsometric-YzLLy.ttf');
}


body {
  background-color: black;
  min-height:  100vh; 
  margin-top: 50px;
}

.container-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-forms{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.container-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#titleLogo{
  margin: 10px;
  width: 450px;
  height: auto;
  margin-left: 35%;
  transition-duration: 0.25s;
}

#searchButton{
  margin: 10px;
  width: 150px;
  height: 45px;
  margin-left: 35%;
  transition-duration: 0.25s;
}

#searchButton:hover {
  cursor: pointer;
  transform: scale(1.10)
}

#createNewOnlineGameButton{
  margin: 10px;
  width: 150px;
  height: 42px;
  margin-left: 35%;
  transition-duration: 0.25s;
}

#createOnlineGameButton:hover {
  cursor: pointer;
  transform: scale(1.10)
}


#startLocalGameButton{
  margin: 10px;
  width: 160px;
  height: 50px;
  margin-left: 35%;
  transition-duration: 0.25s;
}

#startLocalGameButton:hover {
  cursor: pointer;
  transform: scale(1.10)
}

#textBoxFormForUserToEnterRoomID{
  margin: 10px;
  width: 500px; 
  height: 25px; 
  background-color: black;
  border: 3px solid #f3e8dc;
  outline: none;
  padding: 25px; 
  font-size: 40px; 
  color: #f3e8dc;
  caret-color: white;
  font-family: '3D Isometric Black';
  margin-left: 35%;
}

#textBoxFormForUserToCreateNewPassword{
  margin: 10px;
  width: 500px; 
  height: 25px; 
  background-color: black;
  border: 3px solid #f3e8dc;
  outline: none;
  padding: 25px; 
  font-size: 40px; 
  color: #f3e8dc;
  caret-color: white;
  font-family: '3D Isometric Black';
  margin-left: 35%;
}
