/* localGamePageStyles.css */

body {
    background-color: black;
    min-height:  100vh; 
    margin-top: 50px;
  }
  
  .container-ui{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
  
  .container-board{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  
  
  
  #confirmMoveBtn{
    transition-duration: 0.25s;
  }
  
  #confirmMoveBtn:hover{
    cursor: pointer;
    transform: scale(1.05)
  }
  
  
  /* CHESSBOARD STYLING */
  
  .clearfix-7da63 {
    clear: both;
  }
  
  .board-b72b1 {
    /* border: 15px solid #f3e8dc; */
    box-sizing: content-box;
  }
  
  .square-55d63 {
    float: left;
    position: relative;
  
    
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  .white-1e1d7 {
    background-color: white;
    color: none;
    border-radius: 5px;
  }
  
  .black-3c85d {
    background-color:transparent;
    color: none;
  }
  
  .highlight1-32417, .highlight2-9c5d2 {
    box-shadow: inset 0 0 3px 3px white;
  }
  
  .notation-322f9 {
    cursor: default;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0px;
    position: absolute;
  }
  
  .alpha-d2270 {
    bottom: 1px;
    right: 3px;
  } 
  
  .numeric-fc462 {
    top: px;
    left: 2px;
  } 
  