/* loginPageStyles.css */

/* Adding custom font for style */
@font-face {
    font-family: '3D Isometric Black';
    src: url('/web-24wi/projects/LANChess/fonts/3DIsometric-YzLLy.ttf');
}


main {
    display: grid;
  }

  
  body {
    background-image: url(/web-24wi/projects/LANChess/img/backgrounds/LoginPageBackground.png);
    margin:  0; 
    min-height:  105vh; 
    display: grid;
    justify-content: center;  
    align-items: center;

  }

  #textBoxFormForUserToCreateNewUsername{
    width: 600px; 
    height: 50px; 
    background-color: black;
    border: 7px solid #cee6f0;
    border-radius: 10px;
    outline: none;
    padding: 25px; 
    font-size: 80px; 
    color: #f3e8dc;
    caret-color: white;
    font-family: '3D Isometric Black';
  
      
  }
