/* routingPageStyles.css */

@font-face {
    font-family: '3D Isometric Black';
    src: url('/web-24wi/projects/LANChess/fonts/3DIsometric-YzLLy.ttf');
}


main {
    display: grid;
  }


  
  body {
    background-image: url(/web-24wi/projects/LANChess/img/backgrounds/HomePageBackground.png);
    background-size: cover;
    margin:  0; 
    min-height:  100vh; 
    display: grid;
    justify-content: center;  
    align-items: center;
  }



#leftArtBar {
  position: absolute;
  top:0px;
  left:0px;
  width: 350px;
  height: 100%;
}

 #siteTitle {
  position: absolute;
  top:20px;
  left:180px;
  width: 800px;
  height: auto;
 }
  

#findOpponentByUsernameForm {
  position:  absolute;
  top: 240px;
  left: 450px;
  width: 500px; 
  height: auto; 
  background-color: black;
  border: 5px solid #cee6f0;
  border-radius: 10px;
  outline: none;
  padding: 10px; 
  font-size: 40px; 
  color: #f3e8dc;
  caret-color: white;
  font-family: '3D Isometric Black';
}

#okButton {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 233px;
  left: 990px;
  transition-duration: 0.25s;
}

#registerButton {
  position: absolute;
  top: 350px;
  left: 450px;
  transition-duration: 0.25s;
}

#loginButton {
  position: absolute;
  top: 450px;
  left: 450px;
  transition-duration: 0.25s;
}

#myGamesButton {
  position: absolute;
  top: 550px;
  left: 450px;
  transition-duration: 0.25s;
}

#aboutButton {
  position: absolute;
  top: 650px;
  left: 450px;
  transition-duration: 0.25s;
}

#okButton:hover {
  cursor: pointer;
  transform: translate(0px, -20px)rotate(-0.03turn) scale(1.4);
}

#registerButton:hover {
  cursor: pointer;
  transform: translate(15px, -10px) scale(1.10);
}

#loginButton:hover {
  cursor: pointer;
  transform: translate(15px, -10px) scale(1.10);
}

#myGamesButton:hover {
  cursor: pointer;
  transform: translate(15px, -10px) scale(1.10);
}

#aboutButton:hover {
  cursor: pointer;
  transform: translate(15px, -10px) scale(1.10);
}
