body {
    background-color: rgb(248, 247, 245);
}

#calculator {
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    margin-top: 50px;
}

#calc-output {
    height: 20px;
}

#calc-output-text {
    font-size: 1.5rem;
    line-height: 0%;
    padding-right: 10px;
    text-align: right;
    font-family: monospace;
    color: rgb(255, 255, 255);
}

.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5%;
}

.calc-button-row > * {
    background-color: rgb(241, 241, 240);
    border: 0;
    font-size: 1.5rem;
    text-align: center;
    width: 24.65%;
    height: 50px;
    font-family: monospace;
}

#cb-0 {width: 74.8%;}
#cb-clear {width: 50%;}
#cb-back {width: 24.5%}

.calc-button-row > *:hover {
    background-color: rgb(255, 255, 255);;
}
.calc-button-row > *:active {
    background-color: rgb(214, 214, 214);;
}
.calc-button-row :last-child {
    background-color: rgb(219, 159, 46);
}
.calc-button-row :last-child:hover {
    background-color: rgb(231, 186, 102);
}
.calc-button-row :last-child:active {
    background-color: rgb(185, 134, 39);
}










