[submodule "sc-24sp/git-games/game-01"]
	path = sc-24sp/git-games/game-01
	url = https://github.com/TheEvergreenStateCollege/game-01
[submodule "sc-24sp/git-games/game-02"]
	path = sc-24sp/git-games/game-02
	url = https://github.com/TheEvergreenStateCollege/game-02
[submodule "sc-24sp/git-games/game-03"]
	path = sc-24sp/git-games/game-03
	url = https://github.com/TheEvergreenStateCollege/game-03
[submodule "sc-24sp/git-games/game-04"]
	path = sc-24sp/git-games/game-04
	url = https://github.com/TheEvergreenStateCollege/game-04
[submodule "sc-24sp/git-games/game-05"]
	path = sc-24sp/git-games/game-05
	url = https://github.com/TheEvergreenStateCollege/game-05
[submodule "sc-24sp/git-games/game-06"]
	path = sc-24sp/git-games/game-06
	url = https://github.com/TheEvergreenStateCollege/game-06
[submodule "sc-24sp/git-games/game-07"]
	path = sc-24sp/git-games/game-07
	url = https://github.com/TheEvergreenStateCollege/game-07
[submodule "sc-24sp/git-games/game-08"]
	path = sc-24sp/git-games/game-08
	url = https://github.com/TheEvergreenStateCollege/game-08
[submodule "sc-24sp/git-games/game-09"]
	path = sc-24sp/git-games/game-09
	url = https://github.com/TheEvergreenStateCollege/game-09
[submodule "sc-24sp/git-games/game-10"]
	path = sc-24sp/git-games/game-10
	url = https://github.com/TheEvergreenStateCollege/game-10
[submodule "sc-24sp/git-games/game-11"]
	path = sc-24sp/git-games/game-11
	url = https://github.com/TheEvergreenStateCollege/game-11
[submodule "sc-24sp/git-games/game-12"]
	path = sc-24sp/git-games/game-12
	url = https://github.com/TheEvergreenStateCollege/game-12
[submodule "sc-24sp/git-games/game-13"]
	path = sc-24sp/git-games/game-13
	url = https://github.com/TheEvergreenStateCollege/game-13
[submodule "sc-24sp/git-games/game-14"]
	path = sc-24sp/git-games/game-14
	url = https://github.com/TheEvergreenStateCollege/game-14
[submodule "sc-24sp/git-games/game-15"]
	path = sc-24sp/git-games/game-15
	url = https://github.com/TheEvergreenStateCollege/game-15
[submodule "sc-24sp/git-games/rustlings"]
	path = sc-24sp/git-games/rustlings
	url = https://github.com/rust-lang/rustlings.git
