[submodule "sc-24sp/sc-24sp/rustlings"]
	path = sc-24sp/rustlings
	url = https://github.com/rust-lang/rustlings.git
[submodule "sc-24sp/git-games/game-00"]
	path = sc-24sp/git-games/game-00
	url = git@github.com:TheEvergreenStateCollege/game-00.git
