* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Lato', sans-serif;

    color: rgb(62, 53, 53);
    margin: 1;
    padding: 1;
}

.navbar {
    border-bottom: 2px solid rgb(75, 62, 62);
    padding: 15px;
    text-align: center;
    margin-bottom: 0;
}

.brand {
    font-size: 33px;
}

.scoreboard {
    max-width: 295px;
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 5px;
}

.scoreboard-letter {
    height: 45px;
    width: 45px;
    font-size: 30px;
    text-transform: uppercase;
    border: 3px solid #c5c3c3;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.correct {
    background-color: rgb(94, 191, 94);
    color: aliceblue;
}

.close {
    background-color: rgb(250, 222, 62);
    color: aliceblue;
}

.wrong {
    background-color: rgb(247, 31, 31);
    color: aliceblue;
}

.invalid {
    animation: flash 1.5s;
}
@keyframes flash {
    5% {
        border-color: crimson;
    }

    100% {
        border-color: #c5c3c3;
    }
}    


.spiral {
    font-size: 40px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.hidden {
    visibility: hidden;
}

.info-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rainbow {
    100%,
    0% {
        color: rgb(230, 22, 22);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
}


.winner {
    animation: rainbow 4s infinite linear;
}