<!--Nmac's Blog-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Blog</title>
        <link rel="stylesheet" href="./NMac's_blog.css">
        <script id="mew-web3script" type="application/javascript" async="false" src="chrome-extension://nlbmnnijcnlegkjjpcfjclmcfggfefdm/js/cxWeb3.js"></script>
        <script type="application/javascript" async="false" id="mew-extensionId">(function(t){window.extensionId=t})("nlbmnnijcnlegkjjpcfjclmcfggfefdm")</script>
    </head>

    <body data-new-gr-c-s-check-loaded="14.1149.0" data-gr-ext-installed>
        <div class="page"> <!--grid layout-->
            <header class="brand-header">
                <h1 class="brand">My Blog</h1>
            </header>
            <ul class="nav-links"> <!--flex-->
                <li class="site-section">
                    <a href="#" class="section-link">MacN</a>
                </li>
                <li class="site-section">
                    <a href="#" class="section-link">Technology</a>
                </li>
                <li class="site-section">
                    <a href="#" class="section-link">Local</a>
                </li>
                <li class="site-section">
                    <a href="#" class="section-link">Opinion</a>
                </li>
                <li class="site-section">
                    <a href="#" class="section-link">Activities</a>
                </li>
            </ul>
            <article class="story story-1">
                <h2 class="article-title">Student Learns HTML</h2>
                <p class="article-text">
                    "Words words about words and things!"
                </p>
                <p class="article-text">
                    "These words are words that are after the first words and words and things"
                </p>
            </article>
            <article class="story story-2">
                <h2 class="article-title">BREAKING: Neat dog, I have a cat, share pic of kitty</h2>
                <img class="article-img" src="./myBlogResources/kurokuro.png" alt="Kuro the Cat">
                <p class="article-text">
                    "These words are about the neat dog, but I want to swap my pets for the neat dog"
                </p>
                <p class="article-text">
                    " These words are words about how the neat dog should be swapped with my dog, or cat, or chickens... "
                </p>
            </article>
            <article class="story story-3">
                <h2 class="article-title">CSS is CSS</h2>
                <p class="article-text">
                    " These words are about CSS, CSS words that are in the third column "
                </p>
                <p class="article-text">
                    " In the third column there are more words seperated with a line of no words. "
                </p>
            </article>
            <article class="story story-4">
                <h2 class="article-title"> Words in row 2: words by me </h2>
                <p class="article-text">
                    " Did you know that these words are in the 2nd row left column? "
                </p>
                <p class="article-text">
                    " words can be placed here too! "
                </p>
            </article>
            <article class="story story-5 double-story">  <!--double story doubles the article space -->
                <h2 class="article-title"> Programming Row 2: column: 2 and 3 </h2>
                <p class="article-text">
                    " Words have so many meaning and uses, for instance, these words take up two columns.
                     In this section more information can be placed here.
                     "
                </p>
                <p class="article-text">
                    " More words for the big section can go here "
                </p>
                <p class="article-text">
                    " The final paragraph section for words within the big section "
                </p>
            </article>
        </div>
        <a href="about.html">About</a>
    </body>
</html>


 
        