* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

.page {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    grid-template-areas:
        "menu input"
        "total total";
    grid-template-columns: 1fr 1fr;
}

.box {
    background-color: #eee1d5;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
    width: 100%;
    padding: 20px;
    margin: 15px;
}

.menu {
    grid-area: menu;
}


.input {
    grid-area: input;
}

.total {
    grid-area: total;
}

/*
 * header info*/
.navbar {
    background-color: #43281c;
    color: #fbf2c0;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.logo {
    position: relative;
    height: 25px;
}

