<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Driver output</title>
</head>
<body>
    <h1> 3 step output test, print hello test</h1>
    <pre>{{ output }}</pre>

    <h1>Driver Keys, sorted by date: </h1>
    <pre>{{ output1 }}</pre>

    <!-- <h3>Button test zone</h3>
    {% for output1 in range(1, 100) %}
    <button class="grid-item" type="submit" name="selection" value="{{ selection }}">Option {{ output1 }}</button>
    {% endfor %} -->

    <pre>{{ output2 }}</pre>
    
</body>
</html>