.Header {
    display: flex;
    align-items: center;
    justify-content: start; 
    padding: 10px; 
}


.Header img {
    width: 100px;
    height: auto; 
    margin-right: 10px;
   
}

.Header h1 {
    margin: 0;
    font-size: 50px;
    
}







