body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  h1 {
    text-align: center;
    color: #333;
    padding: 20px;
  }
  
  .text-box {
    background-color: #fff;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  input {
    width: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.25rem/* 4px */;
  }
  
  label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    border-radius: 0.25rem/* 4px */;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 0.25rem/* 4px */;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .rounded {
    border-radius: 0.25rem/* 4px */;
}