header{
background-color: black;
color: white;
height:60px;
text-align: center;
font-size: 35px;

}


.getting-started-button{
   
    padding: 0px;
    margin: 300px; 
    width: 100%; 
    text-align: center;
    

}

video{
    width: 100%;
}

video::-webkit-media-controls {
    display:none !important;
}

video::-webkit-media-controls-enclosure {
    display:none !important;
}

video::-webkit-media-controls-panel {
    display:none !important;
}


body{
    background-color:rgb(237, 237, 237)

}

