body {
    background-color: rgb(244, 243, 240);
}

#main {
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    outline: 3px solid rgb(224, 223, 220);
    border-radius: 15px;
}

h1 {
    text-align: center;
    font-family: Verdana;
    color: rgb(34, 34, 34);
    margin-top: 0px;
    font-size: 2.5rem;
}

.grid-row {
    display:flex;
}

.grid-item {
    width: 50px;
    height: 50px;
    border: 3px solid rgb(224, 223, 220);
    margin: 6px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 50px;
    font-family: Verdana;
    font-style: bold;
    font-weight: bold;
}

.green-tile {
    background-color: rgb(141, 235, 124);
}

.yellow-tile {
    background-color: rgb(249, 228, 108);
}

.gray-tile {
    background-color: rgb(205, 204, 202);
}

.win {
    background: linear-gradient(to right, rgb(255, 99, 139),rgb(255, 118, 0),rgb(255, 155, 0),rgb(218, 193, 0),rgb(113, 221, 0),rgb(0, 236, 145),rgb(0, 234, 237),rgb(0, 216, 255),rgb(27, 188, 255),rgb(177, 156, 255),rgb(247, 128, 255),rgb(255, 106, 228),rgb(255, 99, 139),rgb(255, 118, 0),rgb(255, 155, 0),rgb(218, 193, 0),rgb(113, 221, 0),rgb(0, 236, 145),rgb(0, 234, 237),rgb(0, 216, 255),rgb(27, 188, 255),rgb(177, 156, 255),rgb(247, 128, 255),rgb(255, 106, 228),rgb(255, 99, 139));
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveGradient 1s linear infinite;
}

@keyframes moveGradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.lose {
    color: red;
}