
#ambience-controls {
    display: flex;
    justify-content: space-between;
}

#ambience-controls > * {
    margin-right: 10px;
}

.auth-dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #ddd;}
.auth-dropdown:hover .dropdown-content {display: block;}
.auth-dropdown:hover .dropbtn {background-color: #3e8e41;}



button {
    background-color: #05935f;
    color: white;
    padding: 6px 8px 6px 8px;
    border: none;
    border-radius: 4px;
    position: relative;
    display: inline-block;
}

body {
margin:0;
background-color: #000000;
height: 900px;
}

#content-container {
    position:relative;
    height: 100%;
}

#top-row {
    display:flex;
    background-color: #141414;
    padding: 10px;
}


#playlist-section {
    background-color: #151515;
    height: 100%;
    width: 15%;
    color: rgb(255, 248, 234);
    font-family: Nunito, sans-serif;
    display: inline-block;
}

#playlist {
    list-style-type: none;
    padding-left: 5px;
}

li {
    margin-top: 3px;
    margin-bottom: 3px;
}

#music-player-container {
    position:fixed;
    bottom: 0;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: left;
    background-color: #141414;
}

#music-info-container {
    display: flex;
    align-items: center;
    color:#f1f1f1;
    width: 33%;
}

.music-info {
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 10px;
    white-space: nowrap;
}

#playback-controls {
    display: flex;
    width:33%;
    margin-left: auto;
    margin-right: auto;
}

.playback-button {
    margin-right: 10px;
    height: 40px;
}

#play-icon,
#back-icon,
#next-icon,
#loop-icon,
#shuffle-icon,
#volume-icon {
    font-size: 28px;
}

#volume-dropdown {
    position: relative;
    display: inline-block;
}

#volume-dropdown-content {
    display: none;
    position: absolute;
    left: 0%;
    bottom: 100%;
    background-color: #242424;
    z-index: 1;
    overflow: hidden;
    height: 150px;
    width: 85%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#volume-dropdown:hover #volume-button {background-color: #39533a;}
#volume-dropdown:hover #volume-dropdown-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#volume-slider {
    width: 130px;
    transform: rotate(270deg);
}

/*Google Material Icons*/

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

:root {
    --tracker-width: 100%;
}

#music-tracker-container {
    width: 33%;
    margin-left: auto;
}

/*for chromium browsers: (also opera and safari) */
input[type="range"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    width: var(--tracker-width);
    margin: 0;
    padding: 0;
    height: 8px;
    margin: 20px 0px 20px 0px;
    float: left;
    outline: none;
    background-color: #d6d5d1;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
  }
  input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: #007db5;
    cursor: pointer;
  }
  input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: none;
    height: 25px;
    width: 10px;
    border-radius: 0%;
    background-color: #e5e5e5;
    cursor: pointer;
    margin: -11px 0 0 0;
  }
  input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
  }

/*for firefox: */
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
  }
  input[type="range"]::-moz-range-progress {
    background-color: #007db5;
  }
  input[type="range"]::-moz-focus-outer {
    border: 0;
  }
  input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }
  input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #007db5;
  }

/*Responsive web design - applies if on mobile*/
@media (max-width: 600px) {
    #playlist-section {
        width: 100%;
    }
    #music-player {
        flex-direction: column;
    }
    #music-info-container {
        font-size: 1.2rem;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        min-width: min-content;
    }
    #playback-controls {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    #music-tracker-container {
        width: 75%;
    }
    #music-player-container {
        flex-direction: column;
        align-items: center;
    }
}