#playlist-button {
    margin-left: 15px;
    margin-right: 0;
}

#edit-button {
    margin-right: 2%;
}
#edit-button:hover {
    color: rgb(238, 109, 86);
}

#music-selector {
    display: flex;
    justify-content: space-between;
    
}

.music-selector-button {
    margin-right: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
}

.music-selector-button:hover {
    color: rgb(238, 109, 86);
}

#info-button {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
}

.auth-dropdown {
    position: relative;
    display: inline-block;
    margin-left: 0%;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #ddd;}
.auth-dropdown:hover .dropdown-content {display: block;}
.auth-dropdown:hover .dropbtn {
    background-color: #f1f1f1;
    color: #161616;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}



button {
    /* background-color: #05935f; */
    background-color: transparent;
    color: white;
    padding: 6px 8px 6px 8px;
    border: none;
    border-radius: 4px;
    position: relative;
    display: inline-block;
}

.remove-button {
    padding: 0px 10px 0px 0px;
}
.remove-button:hover {
    color: rgb(223, 34, 66);
}

body {
margin:0;
background-color: #161616;
height: 900px;
}

#content-container {
    position:relative;
    height: 100%;
}

#top-row {
    display:flex;
    background-color: #141414;
    padding: 10px;
}

#playlist-section {
    height: 100%;
    width: 100%;
    display: flex;
}

#playlist-container {
    background-color: #151515;
}

#playlist {
    list-style-type: none;
    padding-left: 2em;
    
}

.playlist-element{
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    display: flex;
    flex-direction: row;
}

.dragging {
    opacity: 0.7;
}

.playlist-song {
    font-family: Nunito, sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: rgb(15, 15, 15);
    background: linear-gradient(90deg, rgba(238,120,62,1) 0%, rgba(214,122,122,1) 23%, rgba(227,189,88,1) 100%);
}
/*Authentication*/
#auth-window {
    background-color: #2c2c2c;
    margin-left: 30px;
    margin-top: 30px;
    height: min-content;
}

#auth-window fieldset {
    border: none;
    padding: 10px;
}

#music-bar {
    /* border: 1px solid white; */
    position:fixed;
    width: 100%;
    bottom: 0;
    padding-bottom: 1em;
    display: block;
    background-color: #141414;
}

#music-player-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40px;
    justify-content: left;
}

#music-info-container {
    display: flex;
    align-items: center;
    color:#f1f1f1;
    margin-left: 1%;
    height: 40px;
}

.music-info {
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 10px;
    white-space: nowrap;
}

#playback-controls {
    display: flex;
    margin-left: 1%;
    margin-right: 4%;
}

.playback-button {
    margin-right: 0px;
    height: 40px;
}

.playback-button:hover {
    color: rgb(238, 109, 86);
}

#play-icon,
#back-icon,
#next-icon,
#loop-icon,
#shuffle-icon,
#volume-icon {
    font-size: 28px;
}

#volume-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#volume-dropdown {
    margin-left: 10%;
    position: relative;
    display: inline-block;
}

#volume-dropdown-content {
    display: none;
    position: absolute;
    left: 0%;
    bottom: 100%;
    background-color: #141414;
    z-index: 1;
    overflow: hidden;
    height: 10em;
    width: 40px;
    border-radius: 5px;
}
#volume-dropdown:hover #volume-button {
    color: rgb(238, 109, 86);
}
#volume-dropdown:hover #volume-dropdown-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(238, 109, 86);
}
#volume-slider {
    width: 9em;
    transform: rotate(270deg);
}

/*Google Material Icons*/

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

:root {
    --tracker-width: 100%;
}

#music-tracker-container {
    width: 100%;
    margin-right: 5%;
}

/*for chromium browsers: (also opera and safari) */
input[type="range"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    width: var(--tracker-width);
    margin: 0;
    padding: 0;
    height: 8px;
    margin: 20px 0px 20px 0px;
    float: left;
    outline: none;
    background-color: #d6d5d1;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
  }
  input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: #007db5;
    cursor: pointer;
  }
  input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: none;
    height: 25px;
    width: 10px;
    border-radius: 0%;
    background-color: #e5e5e5;
    cursor: pointer;
    margin: -11px 0 0 0;
  }
  input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
  }

/*for firefox: */
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 0.6em;
    cursor: pointer;
    background-color: #979797;
  }
  input[type="range"]::-moz-range-progress {
    background-color: #fff;
    height: 0.5em;
  }
  input[type="range"]::-moz-focus-outer {
    border: 0;
  }
  input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }
  input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
  }

/*Responsive web design - applies if on mobile*/
@media (max-width: 600px) {
    #playlist-section {
        width: 100%;
    }
    #music-player {
        flex-direction: column;
    }
    #music-info-container {
        font-size: 1.2rem;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        min-width: min-content;
    }
    #playback-controls {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    #music-tracker-container {
        width: 75%;
    }
    #music-player-container {
        flex-direction: column;
        align-items: center;
    }
}