img {
 border:1px solid #ee5;
 border-radius: 4px;
 padding:5px;
 width: 300px;
 height:auto;
}

img.meow {
 border:1px solid #ee5;
 border-radius: 4px;
 padding:5px;
 width: 100px;
 height:auto;
}

#kitty {
 border:1px solid #ee5;
 border-radius: 4px;
 padding:5px;
 width: 560px;
 height:auto;
}

