
:root {
    --backgroundcolor: rgb(195, 164, 128);
    --acsentcolor: rgb(158, 212, 177);
    --darkcolor: rgb(51, 35, 16);
}
body{
    margin: 0;
    background-color: var(--backgroundcolor);
}
.titleBlock{
    background-color: var(--darkcolor);
    color: var(--acsentcolor);
    
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}
/* ------------------------------index.html------------------------------ */
.navButton{
    display: block;
    background-color: var(--acsentcolor);
    color: var(--darkcolor);
    border: none;

    width:15rem;
    height: 5rem;

    border-radius: 50px;
    margin: 1rem auto;

    font-size: 3rem;
    text-align: center;
}
.navButton:hover{
    background-color: #04AA6D;
    color: rgb(230, 230, 230);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}
/* ------------------------------twigs.html------------------------------ */
#cardHolder{
    text-align: center;
}
.card{
    display: inline-block;
    height: 30rem;
    width: 20rem;
    background-color: lightgray;
    margin: 1rem;
    color: black;
  }
/*-----------------------login stuff----------------*/
form label {
    display: block;
    color: var(--darkcolor);
    font-size: 2rem;
    text-align: left;
    margin-top: 1rem;
}

form input {
    display: block;
    width: 94%;
    padding: .5rem;
    border-radius: 20px;
    background-color: var(--acsentcolor);
}

button {
    display: block;
    background-color: var(--acsentcolor);
    border: 0;
    width: 80%;
    margin: 1rem 10%;
    padding: .4rem 0;
    border-radius: 40px;
    color: var(--darkcolor);
    font-size: 2rem;
}
