body, html {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    margin: 0;
}

header {
    background-color: #007bff;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    position: relative;

}

.header-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 125px;
}

header h1 {
    padding-left: 70px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.tagline-container {
    text-align: center;
    margin: 50px;
}

.view-data-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #6a9ed5;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-data-btn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #414040;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    position: relative;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 24px;
    height: 24px;
}

nav#menu {
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
}

nav#menu button {
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;

}

main#content {
    padding: 20px;
    min-height: 400PX; /* adjust as needed */
}

.about-section h2 {
    text-align: center;
}

.privacy-policy h2 {
    text-align: center;
}

.terms-of-service h2 {
    text-align: center;
}