<!-- myapp/templates/myapp/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Driver Data</title>
</head>
<body>
    <h1>Driver Data</h1>

    <h2>Total Miles: {{ total_miles }}</h2>
    <h2>Total Minutes: {{ total_mins }}</h2>

    <h2>Driver Data:</h2>
    <ul>
        {% for data_instance in driver_data %}
            <li>
                <strong>Key:</strong> {{ data_instance.key }} <br>
                <strong>Value:</strong> {{ data_instance.value }} <br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
