.header-bar {
    margin: 0px;
    padding: 1rem;
    position: relative;
    width: 100%;
    background-color: rgb(61,37,24);
    height: 5rem;
}

.left-column{
    border-radius: 5px;
}
.name-block, .payment {
    border-radius: 5px;
}

.logo-wrapper img {
    height: 2rem;
}

.logo-wrapper {
    display: flex;
    width: 15%;
    margin: auto;
}

.header-text {
    font-size: 1rem;
    text-align: center;
    margin: auto;
    color: rgb(245,238,196);
}

.column-card {
    background-color: rgb(235,225,214);
}

.column-wrapper {
    display: flex;
}

.left-column {
    width: 50%;
    margin: 3rem;
    padding: 5px;
    margin: 10px;
}

.right-column {
    width: 50%;
    margin: 3rem;
    padding: 5px;
    margin: 10px;
}


.name-input-group {
    position: relative;
    display: inline-block;
}

.name-input {
    border-color: crimson;
    padding: 8px;
    border-radius: 5px;
}

.input-label {
    background-color: white;
    color: crimson;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
}

.item {
    display: flex;
    color: rgb(125,85,46);
}

.item-name-wrapper {
    width: 70%;
    margin-left: 1rem;
}

.item-name {
    font-weight: bold;
}

.item-modifier {
    font-size: 10px;
}

.item-qty {
    margin-left: 1rem;
}

.item-card {
    height: 50px;
}

.item-price {
    text-align: right;
}

.column-card h2 {
    text-transform: uppercase;
    color: rgb(61,37,24);
    padding: 1rem;
    font-size: 10px;
}

body {
    margin: 0px;
    background-color: rgb(239,240,239);
    font-family: "Open Sans", sans-serif;
}
