:root {
    --main-background: #efefef;
    --nav-background: #43281c;
    --nav-text: #fbf2c0;
    --box-background: #eee1d5;
    --box-title: #885a2d;
    --item-border: #DDB892;
    --option-color: #B08968;
    --input-border: #885a2d;
    --input-label: #eee1d5;
    --checkout-background: #deb993;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-background);
    font-family: 'Open Sans', sans-serif;
}

.page {
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;
    padding: 2em;
    margin: 0 auto;
    grid-template-areas:
        "order payment"
        "total total";
    grid-template-columns: 1fr 1fr;
}

.main-nav {
    background-color: var(--nav-background);
    color: var(--nav-text);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.logo {
    height: 25px;
    position: relative;
    top: 3px;
}

.box {
    background-color: var(--box-background);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.box-title {
    color: var(--box-title);
    font-weight: bold;
    font-size: 16px;
}

.order {
    grid-area: order;
}

.payment {
    grid-area: payment;
}

.total {
    grid-area: total;
}

.items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    border-bottom: 2px solid var(--item-border);
    display: grid;
    padding: 10px 0;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
        "quantity title   price"
        "quantity options price";
    row-gap: 8px;
}

.item:last-child {
    border-bottom: none;
}

.item-quantity, .item-title, .item-price {
    font-weight: bold;
}

.item-options-list {
    grid-area: options;
    color: var(--option-color);
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.item-option {
    margin-bottom: 5px;
}

.input-group {
    position: relative;
    margin-bottom: 1.25em;
}

.user-input, .checkout {
    width: 100%;
}

.user-input {
    background-color: rgba(0, 0, 0, 0);
    border: 2px var(--input-border) solid;
    padding: 8px;
    border-radius: 100px;
    text-indent: 18px;
    font-size: 18px;
}

.user-input-label {
    color: var(--input-border);
    background-color: var(--input-label);
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
}

.short-input {
    max-width: 200px;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.totals-table {
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
}

.totals-table td {
    padding: 10px;
}

.totals-table td:last-child {
    text-align: right;
}

.final-totals {
    font-weight: bold;
}

.checkout {
    background-color: var(--checkout-background);
    border: none;
    padding: 10px 30px;
    border-radius: 100px;
    font-size: 16px;
}