*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.cal{
    color:white;
    background-color: #00264d;
    width: 597px;
}

.screen{
    color: white;
    font-size: 100px;
    text-align: right;
    padding: 25px 9px;
}

.cal-button{
  background-color: #b3b3cc;
  height: 140px;
  width:24.5%;
  font-size: 50px;
  cursor: pointer;
  border: solid;
  border-radius: 0;
  
}

.cal-button:hover{
  background-color: #d1d1e0;
}

.cal-button:active{
  background-color: #9494b8; 
}

.double{
  width: 49.67%;
}

.triple{
  width: 74.83%;
}
