.guess{
    display: flex;
    flex-wrap: nowrap;
  }
  
  .box{
    height: 3rem;
    width: 3rem;
    background-color: lightgray;
    border: .2rem solid gray;
    margin: .3rem;
    
    color: white;
    text-align: center;
    font-size: 2.5rem;
  }