*{
    box-sizing:border-box;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* whole calc*/
.calc{
    width: 400px;
    background-color:#2986cc;
    color: white;
    border-radius: 15px;
}

.screen{
    background-color: lightblue;
    color: white;
    font-size: 40px;
    font-family: "Times New Roman", monospaces;
    text-align: right;
    padding: 20px 5px;
    border-radius: 15px;
}
/*only button*/
.calc-button {
    outline: 0;
    background-color: #cfe2f3;
    padding: 20px;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 10px;
    font-size: 40px;
    cursor: pointer;
}

.calc-button:hover {
    background-color: #f3f9ff;
}
.cal-button:active{
    background-color:#e8e9eb;
}
.double{
    width: 50%;
}
.triple{
    width: 74.8%;
}
.calc-button:last-child{
    background-color: #7290ab;
    color: white;
}
.calc-button:last-child:hover {
    background-color:#bedbf7;
  }
  
  .calc-button:last-child:active {
    background-color: #b3e2fc;
  }
.calc-button-row{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}
.calc-button-row:last-child{
    padding-bottom: 0;
}