.calculatorBox{
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem;
    width: 12.5rem;
    gap: .1rem;
    background-color:black;
    font-family: monospace;
  }
  
  .calculatorBox button{
    height: 3rem;
    width: auto;
    color: white;
    text-align: center;
    font-size: 2rem;
  }
  
  .numButton{
    background-color: lightgray;
   }
  .numButton:hover {
    background-color: gray;
  }
  
  .funButton{
    background-color: orange;
  }
  .funButton:hover {
    background-color: darkorange;
  }
  
  #display{
    height: 3rem;
    background-color: black;
  }
  
  .doubleRow{
    grid-column: 1 / 3;
  }
  
  .tripleRow{
    grid-column: 1 / 4;
  }
  
  .fourRow{
    grid-column: 1 / 5;
  }