* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffeecc;
  font-family: Arial, sans-serif; /* Use a fallback font */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: #000000; /* Set the text color */
}

.page {
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  grid-template-areas:
    "order payment"
    "total total";
  grid-template-columns: 1fr 1fr;;
  justify-items:center;
}

.main-nav {
  background-color: #43281c;
  color: #fbf2c0;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.logo {
  height: 60px;
  position: relative;
  top: 3px;
}

.box {
  background-color: #c6ecc6;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.box-title {
  color: #000000;
  font-weight: normal;
  font-size: 16px;
}

.order {
  grid-area: order;
}

.payment {
  grid-area: payment;
}

.total {
  grid-area: total;
}

.items {
  list-style: circle;
  padding: 0;
  margin: 0;
}

.theItem {
  border-bottom: 2px solid #DDB892;
  display: grid;

  padding: 20px 0;
  
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: 
    "quantity title   price"
    "quantity options price";

  row-gap: 4px;

}

.theItem:last-child {
  border-bottom: none;
}

.item-quantity {
  grid-area: quantity;
}

.item-name {
  grid-area: title;
  font-weight: bold;
}

.item-price {
  grid-area: price;
  font-weight: bold;
}

.item-option-list {
  grid-area: options;
  list-style:circle ;
  margin: 0;
  padding: 1;
  font-size: 12px;
}

.item-customized {
  margin-bottom: 5px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
  margin: 1 auto;
}

.user-input {
  background-color: rgba(0,0,0,0);
  border: 2px #885a2d solid;
  padding: 10px;
  border-radius: 100px;
  width: 100%;
  text-indent: 18px;
  font-size: 16px;
}

.user-input-label {
  color: #885a2d;
  background-color: #eee1d5;
  font-size: 11px;
  position: absolute;
  left: 25px;
  top: -7px;
  padding: 0 2px;
}

.short-input {
  max-width: 150px;
}

.total-section {
  display: center;
}

.total-table {
  width: 100%;
  margin-bottom: 10px;
}

.total-table td {
  padding: 15px;
  width:100%;
}

.total-table td:last-child {
  text-align: right;
}

.final-total {
  font-weight: bold;
  font-size: 20px;
}

.checkout {
  background-color: #deb993;
  margin: 5px 0;
  border: solid;
  padding: 10px 30px;
  width: 100%;
  border-radius: 100px;
  font-size: 16px;
}

.ApplePay {
  background-color: #000000;
  color: white;
  border:solid;
  padding: 10px 30px;
  width: 100%;
  border-radius: 100px;
  font-size: 16px;
}