* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* Match font family */
}

body {
    position: absolute;
    background-image: url(https://img.freepik.com/free-vector/hand-drawn-easter-background_23-2149306632.jpg?w=1480&t=st=1709165506~exp=1709166106~hmac=6e5058b40b58a74a784eb2044258c830954a213632143673a3828b279ab4b8c9);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    background-color: #1e79c4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 20px;
}

header h1 {
    margin: 0;
}


.form_container {
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form_container h2 {
    font-size: 22px;
    color: #333; /* Match text color */
    text-align: center;
}

.input_box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.input_box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333; /* Match text color */
    border-bottom: 1.5px solid #aaa; /* Match border color */
}

.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #1e79c4; /* Match icon color */
}

.option_field {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox label {
    user-select: none;
    color: #333; /* Match text color */
}

.button {
    background: #1e79c4; /* Match button background color */
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    color: #fff; /* Match button text color */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #344286; /* Darker shade on hover */
}

.login_signup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.login_signup a {
    color: #1e79c4; /* Match link color */
}
