<?xml version="1.0" encoding="UTF-8"?>
<events xmlns="http://canvas.instructure.com/xsd/cccv1p0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://canvas.instructure.com/xsd/cccv1p0 https://canvas.instructure.com/xsd/cccv1p0.xsd">
  <event identifier="g8e1b3d4e0457956225f32099f3968242">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-09-26T17:00:00</start_at>
    <end_at>2023-09-26T19:00:00</end_at>
  </event>
  <event identifier="g02146437dff6c72c7a293d0da5d80077">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-09-28T17:00:00</start_at>
    <end_at>2023-09-28T19:00:00</end_at>
  </event>
  <event identifier="g0a1c83c214bdf88c4ae4a53d10eee615">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-03T17:00:00</start_at>
    <end_at>2023-10-03T19:00:00</end_at>
  </event>
  <event identifier="ga220b92fd5599416b1c2c4c8cc9108dd">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-05T17:00:00</start_at>
    <end_at>2023-10-05T19:00:00</end_at>
  </event>
  <event identifier="gb8da30b6d9412f6453b260822f0f40a5">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-10T17:00:00</start_at>
    <end_at>2023-10-10T19:00:00</end_at>
  </event>
  <event identifier="g1541978080d55651d0866af98d0721c9">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-12T17:00:00</start_at>
    <end_at>2023-10-12T19:00:00</end_at>
  </event>
  <event identifier="gb69ac9230186d67bbf1ba43a1f2fbb8c">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-17T17:00:00</start_at>
    <end_at>2023-10-17T19:00:00</end_at>
  </event>
  <event identifier="g3b0c94477d069a42f219a4f812ca844f">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-19T17:00:00</start_at>
    <end_at>2023-10-19T19:00:00</end_at>
  </event>
  <event identifier="gd8fd263812f5760229cc5972878be2f5">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-24T17:00:00</start_at>
    <end_at>2023-10-24T19:00:00</end_at>
  </event>
  <event identifier="gd3838060b4f217dac52190a57c38d57f">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-26T17:00:00</start_at>
    <end_at>2023-10-26T19:00:00</end_at>
  </event>
  <event identifier="g3e9c3c07e89ccb49d2596947c5c2b56d">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-31T17:00:00</start_at>
    <end_at>2023-10-31T19:00:00</end_at>
  </event>
  <event identifier="g51c9d6ae65e44d7cd33d3b9c71b54386">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-02T17:00:00</start_at>
    <end_at>2023-11-02T19:00:00</end_at>
  </event>
  <event identifier="gfb2a9d5820c8278109610229d9fab27e">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-07T18:00:00</start_at>
    <end_at>2023-11-07T20:00:00</end_at>
  </event>
  <event identifier="g347bb95274966b714aa9a2939866b28c">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-09T18:00:00</start_at>
    <end_at>2023-11-09T20:00:00</end_at>
  </event>
  <event identifier="ga7c336d4836e7bc22df7b3c6f28ffc2c">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-14T18:00:00</start_at>
    <end_at>2023-11-14T20:00:00</end_at>
  </event>
  <event identifier="g4ba22f2091c5ff684a21604488cfc60c">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-16T18:00:00</start_at>
    <end_at>2023-11-16T20:00:00</end_at>
  </event>
  <event identifier="gd7bd740ef7a39895c671d0fc4fe068bc">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-28T18:00:00</start_at>
    <end_at>2023-11-28T20:00:00</end_at>
  </event>
  <event identifier="gd38cb05b7b2ad9f70b2096ab06255cef">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-30T18:00:00</start_at>
    <end_at>2023-11-30T20:00:00</end_at>
  </event>
  <event identifier="geaf0515b53d9c935c9743ab5e6dd8899">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-12-06T16:30:00</start_at>
    <end_at>2023-12-06T18:30:00</end_at>
  </event>
  <event identifier="g9c3a50973267f03b5e0c9fe599dcb5c6">
    <title>DS Tues,Thurs</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/87259113853?pwd=WmhCeHZCNk5YUWpUSngxY3RmNVBXQT09" target="_blank"&gt;Click here to join Zoom Meeting:872 5911 3853&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-12-07T18:00:00</start_at>
    <end_at>2023-12-07T20:00:00</end_at>
  </event>
  <event identifier="g591bf116c855a92ba6083abe527c796c">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/86195605405" target="_blank"&gt;Click here to join Zoom Meeting:861 9560 5405&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-09-28T20:00:00</start_at>
    <end_at>2023-09-28T22:00:00</end_at>
  </event>
  <event identifier="g0c9972ad2a00927519907e7da94de354">
    <title>Winston Online Pair Time</title>
    <description></description>
    <start_at>2023-10-13T00:00:00</start_at>
    <end_at>2023-10-13T00:30:00</end_at>
  </event>
  <event identifier="gde4135d1d98a13cab6dffead8885239d">
    <title>Data Structures and Algorithms Fall 23 (Monday Morning)</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/88663143494" target="_blank"&gt;Click here to join Zoom Meeting:886 6314 3494&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-06T18:00:00</start_at>
    <end_at>2023-11-06T20:00:00</end_at>
  </event>
  <event identifier="g99684c98cb2a6ad0d18e2bbd67eb56c4">
    <title>Data Structures and Algorithms Fall 23 (Monday Morning)</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/88663143494" target="_blank"&gt;Click here to join Zoom Meeting:886 6314 3494&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-13T18:00:00</start_at>
    <end_at>2023-11-13T20:00:00</end_at>
  </event>
  <event identifier="gcabbebf13807ac7862d051f2a0f8732a">
    <title>Data Structures and Algorithms Fall 23 (Monday Morning)</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/88663143494" target="_blank"&gt;Click here to join Zoom Meeting:886 6314 3494&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-27T18:00:00</start_at>
    <end_at>2023-11-27T20:00:00</end_at>
  </event>
  <event identifier="g2383ee3cea89702e84678ac1cd9cf735">
    <title>Data Structures and Algorithms Fall 23 (Monday Morning)</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/88663143494" target="_blank"&gt;Click here to join Zoom Meeting:886 6314 3494&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-12-04T18:00:00</start_at>
    <end_at>2023-12-04T20:00:00</end_at>
  </event>
  <event identifier="g72f42252099d670bf295176f60503279">
    <title>mRNA Sequencing with Kelsey Jewell</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/86429563527" target="_blank"&gt;Click here to join Zoom Meeting:864 2956 3527&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-03T21:00:00</start_at>
    <end_at>2023-11-03T22:00:00</end_at>
  </event>
  <event identifier="g80a67351e0e50c64dbd3def5c821ab31">
    <title>Paul Office Hours</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/89563909670" target="_blank"&gt;Click here to join Zoom Meeting:895 6390 9670&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-10T22:00:00</start_at>
    <end_at>2023-11-10T23:00:00</end_at>
  </event>
  <event identifier="g376222031334d5d4b7afe2999c8c5402">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-07T21:00:00</start_at>
    <end_at>2023-11-07T23:00:00</end_at>
  </event>
  <event identifier="g5f5a56e9ec9d4e7ec0550c2e266c0c2c">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-05T20:00:00</start_at>
    <end_at>2023-10-05T22:00:00</end_at>
  </event>
  <event identifier="g6f60e770ab5e11a05c2833187d7a02e2">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-09T20:00:00</start_at>
    <end_at>2023-10-09T22:00:00</end_at>
  </event>
  <event identifier="g73976c049f8f809894c3632ca0658d67">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-10T20:00:00</start_at>
    <end_at>2023-10-10T22:00:00</end_at>
  </event>
  <event identifier="g79095f815647101886e4ce70f4979c7b">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-12T20:00:00</start_at>
    <end_at>2023-10-12T22:00:00</end_at>
  </event>
  <event identifier="g4d53d12a713c30e8891416d9bf2771d7">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-16T20:00:00</start_at>
    <end_at>2023-10-16T22:00:00</end_at>
  </event>
  <event identifier="ge548bf70ca16a8ef0977fb8c8b4ddabd">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-17T20:00:00</start_at>
    <end_at>2023-10-17T22:00:00</end_at>
  </event>
  <event identifier="g2ba2b85970ef652341215a56014d0213">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-19T20:00:00</start_at>
    <end_at>2023-10-19T22:00:00</end_at>
  </event>
  <event identifier="g8bf14d5574ca2e3fede65c2c7a4a05e8">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-23T20:00:00</start_at>
    <end_at>2023-10-23T22:00:00</end_at>
  </event>
  <event identifier="g206cb21c7e3da773d6d4f99e387dcc17">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-24T20:00:00</start_at>
    <end_at>2023-10-24T22:00:00</end_at>
  </event>
  <event identifier="g414b634417119c5e7ffc62152ddbe70f">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-26T20:00:00</start_at>
    <end_at>2023-10-26T22:00:00</end_at>
  </event>
  <event identifier="g8089f139b70a74bb8ceb244e2b551178">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-30T20:00:00</start_at>
    <end_at>2023-10-30T22:00:00</end_at>
  </event>
  <event identifier="g4a7c243fa94028689896b80ee38fdf48">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-10-31T20:00:00</start_at>
    <end_at>2023-10-31T22:00:00</end_at>
  </event>
  <event identifier="g043120d45324041b68625f2ee10877b0">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-02T20:00:00</start_at>
    <end_at>2023-11-02T22:00:00</end_at>
  </event>
  <event identifier="gb4562ca1b24f200ccb73d764823d634d">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-06T21:00:00</start_at>
    <end_at>2023-11-06T23:00:00</end_at>
  </event>
  <event identifier="g457fcef4dc30f4a8d5bb8878c124cf05">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-09T21:00:00</start_at>
    <end_at>2023-11-09T23:00:00</end_at>
  </event>
  <event identifier="gfa366f8593468e945925c6711ea3514b">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-13T21:00:00</start_at>
    <end_at>2023-11-13T23:00:00</end_at>
  </event>
  <event identifier="g960b8d6343fb4497dffae0517ecad377">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-14T21:00:00</start_at>
    <end_at>2023-11-14T23:00:00</end_at>
  </event>
  <event identifier="g6c5bda75ec32df8faf1d770cabb9f353">
    <title>Data Structures and Algorithms Fall 23 </title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/84102226197" target="_blank"&gt;Click here to join Zoom Meeting:841 0222 6197&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-16T21:00:00</start_at>
    <end_at>2023-11-16T23:00:00</end_at>
  </event>
  <event identifier="g0f242c413b1c1181477d77d410920c43">
    <title>Paul Office Hours</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/89287830180" target="_blank"&gt;Click here to join Zoom Meeting:892 8783 0180&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-15T22:00:00</start_at>
    <end_at>2023-11-15T23:00:00</end_at>
  </event>
  <event identifier="g3ca7027e33fdad621c6ede0932f18514">
    <title>Paul Office Hours</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/83872434905" target="_blank"&gt;Click here to join Zoom Meeting:838 7243 4905&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-17T22:00:00</start_at>
    <end_at>2023-11-17T23:00:00</end_at>
  </event>
  <event identifier="g99de0459648104cf1e79a763f03ba889">
    <title>Paul Office Hours</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/83872434905" target="_blank"&gt;Click here to join Zoom Meeting:838 7243 4905&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-24T22:00:00</start_at>
    <end_at>2023-11-24T23:00:00</end_at>
  </event>
  <event identifier="g8b26d59c8b5db4ee6f8b473faca8469e">
    <title>Paul Office Hours</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/83872434905" target="_blank"&gt;Click here to join Zoom Meeting:838 7243 4905&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-12-01T22:00:00</start_at>
    <end_at>2023-12-01T23:00:00</end_at>
  </event>
  <event identifier="g2c3eb1fbba028c70f8b1bdef0dc529f4">
    <title>Paul Office Hours</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/83872434905" target="_blank"&gt;Click here to join Zoom Meeting:838 7243 4905&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-12-08T22:00:00</start_at>
    <end_at>2023-12-08T23:00:00</end_at>
  </event>
  <event identifier="ga8185a87170e5145e76ec3f2a019f963">
    <title>Data Structures and Algorithms Fall 23 (Monday Afternoon)</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/85887550629" target="_blank"&gt;Click here to join Zoom Meeting:858 8755 0629&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-27T21:00:00</start_at>
    <end_at>2023-11-27T22:00:00</end_at>
  </event>
  <event identifier="g0568422e697edc8d994e7d776b67f3c9">
    <title>Data Structures and Algorithms Fall 23 (Monday Afternoon)</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/85887550629" target="_blank"&gt;Click here to join Zoom Meeting:858 8755 0629&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-12-04T21:00:00</start_at>
    <end_at>2023-12-04T22:00:00</end_at>
  </event>
  <event identifier="gd60c0d0c2e0480ea20f3ca47e139abff">
    <title>Data Structures and Algorithms Fall 23 (Tues / Thursday) Afternoon</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/83826212123" target="_blank"&gt;Click here to join Zoom Meeting:838 2621 2123&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-12-07T21:30:00</start_at>
    <end_at>2023-12-07T23:30:00</end_at>
  </event>
  <event identifier="g7275d031d9147e661da50e4d7cb5ef9e">
    <title>Data Structures and Algorithms Fall 23 (Tues / Thursday) Afternoon</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/83826212123" target="_blank"&gt;Click here to join Zoom Meeting:838 2621 2123&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-28T21:30:00</start_at>
    <end_at>2023-11-28T23:30:00</end_at>
  </event>
  <event identifier="ge2f3da6cd83bbe5cfd7c4ce6217786d3">
    <title>Data Structures and Algorithms Fall 23 (Tues / Thursday) Afternoon</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/83826212123" target="_blank"&gt;Click here to join Zoom Meeting:838 2621 2123&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-30T21:30:00</start_at>
    <end_at>2023-11-30T23:30:00</end_at>
  </event>
  <event identifier="g0675159b26a7642f95559733b499be4d">
    <title>CS / Electronics Curriculum Townhall</title>
    <description>&lt;p&gt;&lt;a href="https://evergreen.zoom.us/j/83083474292" target="_blank"&gt;Click here to join Zoom Meeting:830 8347 4292&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2023-11-30T20:00:00</start_at>
    <end_at>2023-11-30T20:30:00</end_at>
  </event>
  <event identifier="gf57eec82a8806afc3c5552f2a681df7e">
    <title>Work on Final Project, Demo Day Rehearsal</title>
    <description/>
    <start_at>2023-12-05T21:00:00</start_at>
    <end_at>2023-12-05T23:00:00</end_at>
  </event>
  <event identifier="g5d8cfa8f8a3076647f4e00d2b6111ae1">
    <title>DSA / ILC Final Project Fair / Demo Day</title>
    <description/>
    <start_at>2023-12-07T18:00:00</start_at>
    <end_at>2023-12-08T07:59:59</end_at>
  </event>
  <event identifier="gc4a1a3e89bc9065e5fe28c2938762473">
    <title>Student Input into Evergreen Strategic Planning</title>
    <description/>
    <start_at>2023-12-06T21:00:00</start_at>
    <end_at>2023-12-06T23:00:00</end_at>
  </event>
</events>
