<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MacN About</title>
    <link rel="stylesheet" href="/static/css/styles.css"> 
</head>
<body>
<section class="about-section">
    <h1>About Me</h1>
    <p>In a cozy corner of the digital world, there lives a silly cat named Kuro.<br> With paws poised over the keyboard, Kuro embarks on a groundbreaking quest: to teach cats how to program.<br> Why, you might ask?<br> Because why should humans have all the fun creating and solving puzzles within the vast expanse of the internet?<br> Kuro believes that with the right guidance, cats can contribute to the digital age,<br> crafting websites filled with endless loops of cat videos and purr-fectly coded mouse chase games.<br> So, with a dream in one paw and a wireless mouse in the other,<br> Kuro sets out to create the first ever feline programming language.<br> Imagine a world where your cat doesn't just nap on your keyboard but actually contributes to your code,<br> debugging with the finesse only a cat's intuition could provide.<br> Welcome to the future, where cats code, and the internet purrs with their creations.</p>
</section>

<div class="vertical-footer">
    <a href="/main-menu.html" class="home-button">Home</a>
    
    <!-- Add more content here as needed -->
</div>

</body>
</html>