<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to MacN Server</title>
    
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            
            <img src="/static/assets/letter_N.png" alt="N" class="logo">
            <h1>Welcome to MacN Server</h1>
            <nav>
                <!-- These links will need to be updated based on your Flask routing for login.html and mainMenu.html -->
                <a href="/login">Login</a>
                <a href="/main-menu.html">Main Menu</a>
            </nav>
        </div>
    </header>
    <div class="content container">
        <p>Welcome to my Flask server.</p>
    </div>
</body>
</html>
