/* Global */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation Bar */

nav {  /* TASK 1 */
    background-color: #494747;
    padding-top:5px;
}
nav .navbar li  {
    display: inline;
    width: 250px;
    padding: 8px;
}
nav .dropbtn {
    border: none;
    position: relative;
    cursor: pointer;
}
nav .dropbtn .dropdown_list { /* TASK 2 */
    position: absolute;
    left: -5px;
    top:30px;
    background-color: #949292;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-left: 10px;
    padding-top: 5px;
    width: 125px;
}
nav .dropbtn .dropdown_list li {
    color: black;
    padding: 5px 0px;
    display: block;
}
nav .dropbtn:hover .dropdown_list {
    display: block;
}
nav li a {
    text-decoration: none;
}
nav li a:link {
    color:#ffe4c4;
}
nav li a:visited {
    color:#a98a64;
}
nav li a:hover {
    color:#ffffff;
}
nav li a:active {
    color:#f1af44;
}

/* PAGE CONTENT */

main {
    max-width:2000px;
}
main section#band, 
main section#tour div, 
main section#contact { /* TASK 3 */
    max-width:800px;
}

/* Slideshow */
main #slideshow .slides:nth-child(2), 
main #slideshow .slides:nth-child(3) { /* TASK 4 */
    
}
main #slideshow .slides {
    position:relative;
}
main #slideshow .slides .slideinfo {
    position:absolute;
    top: 0px;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    
}
main #slideshow .slides .slideinfo h3 {
    width: 400px;
    font-size: 1.5em;
    text-align:center;
    align-self:center;
    position: absolute;
    bottom: 50px;
}
main #slideshow .slides .slideinfo h3+p {
    width: 400px;
    text-align:center;
    align-self:center;
    position: absolute;
    bottom: 20px;
}


/* Band */
main section#band {
    padding: 50px;
}
main section#band p+p {
    text-align:justify;
}
main section#band .bandmembers { /* TASK 5 */
    
}

/* Tour */
main section#tour {
    background-color:rgb(0, 0, 0);
    padding: 50px;
}

main section#tour div h2, 
main section#tour div p {
    color: rgb(255, 255, 255);
    text-align:center;
}

main section#tour div ul {
    background-color:rgb(255, 255, 255);
    text-align:left;
    padding:0;
    margin-top: 50px;
}
main section#tour div ul li { /* TASK 6 */
    list-style-type: none;
    padding: 10px;
}

main section#tour div ul li span { /* TASK 7 */
    padding: 5px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
}

main section#tour div ul li:last-child span { /* TASK 8 */
    margin-left: 650px;
    padding:5px 10px;
}

main section#tour div {
    text-align:left;
}

main section#tour div .tourcities { /* TASK 9 */
    
}

main section#tour div .tourcities div {
    margin: 10px 8px;
    background-color:rgb(255, 255, 255);
}

main section#tour div .tourcities div:first-child {
    margin-left: 0px;
}

main section#tour div .tourcities div:last-child {
    margin-right: 0px;
}

main section#tour div .tourcities div p {
    color:rgb(0, 0, 0);
}

main section#tour div .tourcities div button {
    background-color: rgb(0, 0, 0);
    color:rgb(236, 236, 236);
    padding: 8px;
}

/* Ticket Modal */
main section#ticketModal {
    display: none;
}

/* Contact section */
main section#contact h2 {
    margin-top: 60px
}
main section#contact h2+p {
    margin: 30px 0;
}
main section#contact .contactinfo {
    display:flex;
    margin-top: 40px;
}
main section#contact .contactways {
    width: 400px;
    height: 250px;
    text-align:left;
    padding:0;
    margin-top:0;
}
main section#contact .contactways li {
    display:block;
    padding: 4px 0;
}
main section#contact .contactways li i {
    width: 30px;
}
main section#contact .contactform {
    width: 400px;
    height: 250px;
    text-align: left;
    padding:0;
}
main section#contact .contactform input {
    margin-bottom: 10px;
}
main section#contact .contactform input:nth-child(1) {
    width: 46%;
    height: 35px;
    float:left;
}
main section#contact .contactform input:nth-child(2) {
    width: 46%;
    height: 35px;
    float:right;
}
main section#contact .contactform input:nth-child(3) {
    display:block;
    width: 98%;
    height: 35px;
}
main section#contact .contactform button { /* TASK 10 */
   
}

main #map img {
    max-width: 100%;
}

/* Footer */
footer {
    height: 155px;
    text-align: center;
    padding-top: 45px;
}
footer i {
    padding: 5px;
}
footer p {
    margin-top: 40px;
}

