<!-- menu.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Menu</title>
</head>
    <h1>Driver Menu, WIP</h1>
<body>
    <div class="none">
    
        <form class="button-grid" method="POST" action="/menu/{{ selection }}">
            {% for selection in range(1, 11) %}
                <button class="grid-item" type="submit" name="selection" value="{{ selection }}">Option {{ selection }}</button>
            {% endfor %}
        </form>
    </div>
    <footer>
        <p>See a large image<a href="/static/car_large.jpg"> here</a></p>
    </footer>
    
</body>
</html>